<app-card variant="secondary" class="form-busca">    
    <form>
        <h2>Passagens</h2>
        <div class="flex-container">
            <mat-button-toggle-group aria-label="tipo">
                <mat-button-toggle>
                    <mat-icon>check</mat-icon>
                    IDA E VOLTA
                </mat-button-toggle>
                <mat-button-toggle>SOMENTE IDA</mat-button-toggle>
            </mat-button-toggle-group>
             <mat-chip-listbox aria-label="Seleção de passagens">
                <mat-chip-option selected>1 Adulto</mat-chip-option>
                <mat-chip-option>Economica</mat-chip-option>
              </mat-chip-listbox>
        </div>
        <div class="flex-container">
            <mat-form-field appearance="outline">
                <mat-label>Origem</mat-label>
                <input matInput placeholder="Origem">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
        </div>
    </form>
</app-card>